.navbar-brand {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    position: absolute;
}

.navbar {
    background-color: #f5f6fc !important;
    padding-right: 2.7rem;
    padding-left: 2.7rem;
}


/* banner */

.banner-img {
    margin: 80px 115px;
    width: 60%;
}

.banner-img img {
    width: 100%;
    margin-bottom: -80px;
}

.banner {
    position: relative;
}

.banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
}

.banner-title h1 {
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 55px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    line-height: 70px;
    padding: 0 10px 0 10px;
}


/* fashion trends */

.fashion-trends {
    padding: 100px 0;
}

.fashion-box {
    margin: 80px 0;
}

.title {
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    max-width: 700px;
    background: white;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

.title::after {
    content: "";
    display: block;
    width: 200px;
    height: 100px;
    background-color: pink;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -10 !important;
}

.title::before {
    content: "";
    display: block;
    width: 200px;
    height: 100px;
    background-color: pink;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: -10 !important;
}

.title h1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-transform: uppercase;
}

.trending-img {
    position: relative;
    margin-bottom: 15px;
}

.trending-img img {
    width: 100%;
    border-radius: 10px;
}

.btn-buy {
    width: 30%;
    padding: 10px 0;
    outline: none;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: white;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.6s;
    opacity: 0;
    z-index: 2;
}

.overlay {
    height: 0%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.6s;
}

.trending-img:hover .btn-buy {
    transform: translate(-50%, 50%);
    bottom: 50%;
    opacity: 1;
}

.trending-img:hover .overlay {
    height: 100%;
}


/* offer */

.offer {
    background-image: url(img/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.row {
    margin: initial !important;
}

.subscribe {
    max-width: 500px;
    margin-top: 80px;
    padding: 60px;
    margin-bottom: 20px;
    background: #ffffff8c;
}

.subscribe h4 {
    text-transform: uppercase;
}

.offer img {
    width: 300px;
    height: 400px;
    margin: -100px;
    margin-left: 70px;
    margin-top: 150px;
}


/* fashion blog */

.fashion-blog {
    margin: 250px auto 150px;
}

.blog-img {
    margin-top: 50px;
    /* height: 300px;
    width: 300px;
    display: inline-block; */
}

.blog-img img {
    width: 100%;
    right: 100%;
}

.fashion-blog h5 {
    margin-top: 20px;
    font-size: 1.5rem;
    text-transform: capitalize;
}


/* footer */

footer {
    margin-top: 150px;
    background: #f5f6fc;
}

.payement,
.download {
    margin: 50px auto;
}

.payement img,
.download img {
    width: 75%;
    cursor: pointer;
}

footer h5 {
    margin-bottom: 50px;
    position: relative;
}

footer h5::after {
    content: "";
    width: 10%;
    position: absolute;
    display: block;
    height: 2px;
    left: 190px;
    background: #4f74e8;
}

@media (max-width:1200px) {
    .banner-title h1 {
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 48px;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        line-height: 60px;
        padding: 0 10px 0 10px;
    }
    .banner-title {
        position: absolute;
        left: 50%;
        top: 20%;
    }
    .banner-img {
        margin: 80px 90px;
        margin-left: 60px;
        width: 60%;
    }
}

@media (max-width:992px) {
    .banner-title h1 {
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 37px;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        line-height: 50px;
        padding: 0 10px 0 10px;
    }
    .banner-title {
        position: absolute;
        left: 50%;
        top: 20%;
    }
    .banner-img {
        margin: 80px 90px;
        margin-left: 60px;
        width: 60%;
    }
}

@media (max-width:768px) {
    .banner-title h1 {
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 27px;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        line-height: 30px;
        padding: 0 10px 0 10px;
    }
    .banner-title {
        position: absolute;
        left: 50%;
        top: 20%;
    }
    .banner-img {
        margin: 80px 90px;
        margin-left: 60px;
        width: 60%;
    }
}

@media (max-width:548px) {
    .banner-title h1 {
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        line-height: 30px;
        padding: 0 10px 0 10px;
    }
    .banner-title {
        position: absolute;
        left: 50%;
        top: 20%;
    }
    .banner-img {
        margin: 80px 90px;
        margin-left: 40px;
        width: 60%;
    }
}

{}